<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Desconto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<ion-input label="Valor da compra" labelPlacement="floating"
placeholder="Valor original da compra" type="number"
[(ngModel)]="valorCompra"></ion-input>


  <ion-radio-group value="tiposDesconto" [(ngModel)]="tiposDesconto">
  <ion-radio value="vista">Crédito a vista</ion-radio><br />
  <ion-radio value="prazo">Crédito a prazo</ion-radio><br />
  <ion-radio value="pix">Pix</ion-radio><br />
</ion-radio-group>

<ion-button expand="block" id="ver-linguagem"
(click)="verificar()">Verificar</ion-button>

<ion-label>{{texto}}
  Valor depois do desconto: {{resultado}}
</ion-label>

</ion-content>
